<% render_headline 'categories_icon', 'ShippingRateGroups Index', 'content-header/headline_icon.jpg' %>
<% render_header_buttons "Add ShippingRate Group", :href => new_admin_config_shipping_rate_group_path %>


<div id="grid-wrapper">
  <div id="grid">
		<% grid_table do %>
      <thead>
        <tr>
        	<th class="first no-menu no-sort not-in-context no-resize"><div>&nbsp;</div></th>
        	<th><div>ID</div></th>
        	<th><div>Name</div></th>
        	<th><div>Shipping Rates</div></th>
        	<th><div>Updated At</div></th>
        	<th class="not-in-context no-menu"><div>&nbsp;</div></th>
        	<th class="not-in-context no-menu"><div>&nbsp;</div></th>
        <tr>
      </thead>
      <tbody id="orders_table_body">
        <% for group in @groups %>
          <tr>
            <td></td>
            <td><%=h group.id %></td>
            <td><%=h group.name %></td>
            <td><%= group.shipping_rates.size %></td>
            <td><%=h group.updated_at %></td>
            <td><%= link_to "edit", edit_admin_config_shipping_rate_group_path( group ) %></td>
            <td><%= link_to "delete", admin_config_shipping_rate_group_path( group ), :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </div>
</div>