<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="firstname">Firstname</label><br />
<%= f.text_field :firstname %></p>

<p><label for="lastname">Lastname</label><br />
<%= f.text_field :lastname %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>