<%= error_messages_for :order %>
<%= error_messages_for :customer %>
<%= error_messages_for :shipping_address %>
<%= error_messages_for :payment_address %>
<%= error_messages_for :payment %>


<% form_for :order, @order, :url => { :action => :update }, :html => { :method => :put } do |f| %>

  <div id="customer">
    <%= render :partial => "customer", :object => @customer, :locals => { :f => f } %>
  </div>

  <div class="addresses">
    <h3>Addresses</h3>
    <div id="shipping">
      <%= render :partial => "address", :locals => { :type => :shipping, :f => f } %>
    </div>
  
    <div id=="payment">
      <%= render :partial => "address", :locals => { :type => :payment, :f => f } %>
    </div>
  </div>

  <h3>Payment Method</h3>
  <%= payment_types_radio_buttons f %>
  <div id="payment_type">
    <%- if @order.payment_type -%>
      <%= render :partial => "payment/#{@order.payment_type}_payment", :object => Opensteam::Payment::Base[ @order.payment_type ].new %>
    <%- end -%>
  </div>

  <h3>Shipping Metthod</h3>
  <div id="shipping_types_buttons">
    <%= render :partial => "shipping_buttons", :object => @order,
      :locals => { :payment_type => nil, :country => Opensteam::Config[:default_country] } %>
  </div>


  <%= submit_tag "Continue"  %>

<% end %>