<h3>Search for ..</h3>

<% form_for @search  do |f| %>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </p>
  <p>
    Type<br />
    <%= f.select :kind, Opensteam::Find.find_product_tables.collect(&:to_s).collect(&:classify), :include_blank => true %>
  </p>
  <p>
    Price<br />
    <%= f.text_field :minimum_price, :size => 8 %> - <%= f.text_field :maximum_price, :size => 8 %>
  </p>
  <p>
    Storage<br />
    <%= f.text_field :minimum_storage, :size => 8 %> - <%= f.text_field :maximum_storage, :size => 8 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


