<% content_for :admin_sidebar do %>
  <%= link_to "Tax Groups", admin_config_tax_groups_path %>
<% end %>


<h2>Tax Group #<%= @tax_group.id %></h2>
<p>
  <b>Group Name:</b> <%= @tax_group.name %>
</p>
<%= link_to "edit", edit_admin_config_tax_group_path( @tax_group ) %>

<div id="tax_zones">
  <% for tax_zone in @tax_group.tax_zones %>
    <p>
      <b>Country:</b> <%= tax_zone.country %>
    </p>
    <p>
      <b>State</b> <%= tax_zone.state %>
    </p>
    <p>
      <b>Rate</b> <%= tax_zone.rate %>
    </p>
    <br />
  <% end %>
</div>



