<h2>Change Password</h2>
<%= error_messages_for :user %>
<% form_for :user, :url => update_password_account_path, :html => { :method => :put } do |f| -%>
  <% field_set_tag do %>
    <p>
      <%= f.label :old_password, "Old Password" %>
      <%= f.password_field :old_password %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </p>
  <% end %>
  <p><%= submit_tag 'Save' %></p>
<% end -%>
