<div id="user">
  <%= render :partial => "admin/_header/user" %>
</div>		 

<div id="header">
  <%= link_to( image_tag( 'header/logo.jpg', :id => 'logo', :alt => '' ), admin_path ) %>
  &nbsp;
  <div id="tabs">
    <%= render :partial => "admin/_header/tabs" %>
  </div>
  
  <div id="header-buttons">
    <%= link_to "<span>#{image_tag('header/marketing_optimization.jpg')} Marketing Optimization.. <strong>82%</strong></span>", '#', :title => "Marketing Optimization" %>
    <%= link_to "<span>#{image_tag('header/view_shop.jpg')} View Site</span>", shop_index_path, :title => "View Shop" %>
  </div>

  <div id="version">          
    <%= Time.now.strftime("%A %d. %B %Y") %> | openSteam v<%= Opensteam::VERSION::STRING %>
  </div>

</div>