<h2>General Information</h2>

<%= error_messages_for :user %>
<% form_for :user, :url => account_path, :html => { :method => :put } do |f| -%>
  <% field_set_tag do %>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :firstname %>
      <%= f.text_field :firstname %>
    </p>
    <p>
      <%= f.label :lastname %>
      <%= f.text_field :lastname %>
    </p>
  <% end %>
  <p><%= submit_tag 'Save' %></p>
<% end -%>
