<% render_headline 'categories_icon', "Edit User ##{@user.id}", 'content-header/headline_icon.jpg' %>
<% render_header_buttons "Save", :form_id => 'user_form' %>


<%= error_messages_for :user %>
<% form_for :user, :html => { :method => :put, :id => 'user_form' } do |f| %>

  <div id="dvEditorTabContainer">
    <div id="general_tab" class="x-hide-display" >
      <%= render :partial => "attributes", :object => f %>
    </div>
    <div id="roles_tab" class="x-hide-display">
      <% for role in UserRole.all %>
        <p>
          <%= label_tag "role_#{role.id}", role.name %>
          <%= check_box_tag "roles[]", role.id, @user.has_specific_role?( role.name ), :id => "role_#{role.id}" %>
        </p>
      <% end %>
    </div>
  </div>
  <div id="dvEditorTabFooter">
    <div id="dvEditorTabFooter-inner">
      <div id="dvEditorTabFooterLeft">&nbsp;</div>
      <div id="dvEditorTabFooterRight">&nbsp;</div><br clear="all" />
    </div>
  </div>
<% end %>

<% javascript_tag do %>

  build_tabs( 'dvEditorTabContainer', [
  { contentEl: 'general_tab', title: 'User Information', listeners: { activate: checkTab_setFooterButtons },
  button: {
  left: 	{ title: "index", url: '<%= admin_system_users_path %>' },
  right: 	{ title: "next", clickEvent: 'tabs.setActiveTab(1); return false;'  }
  }
  },
  { contentEl: 'roles_tab', title: 'User Roles', listeners: { activate: checkTab_setFooterButtons },
  button: {
  left: 	{ title: "index", clickEvent: 'tabs.setActiveTab(0); return false; ' },
  right: 	{ title: "save", clickEvent: "$('user_form').submit(); return false;" }
  }
  }
  ] ) ;
<% end%>