<% admin_sidebar_links do %>
  <%= admin_sidebar_link "Show Order", admin_sales_order_path( @order ) %>
  <%= admin_sidebar_link "Show Order Shipments", admin_sales_order_shipments_path %>
  <%= admin_sidebar_link "Show Order Invoices", admin_sales_order_invoices_path %>
<% end %>

<h2>New Shipment</h2>

<%= error_messages_for :shipment %>
<%= error_messages_for :address %>



<% form_for :shipment, @shipment, :url => { :action => 'create', :controller => 'shipments' }, :html => { :method => 'post' } do |f| %>

  <% fields_for :address, @shipment.address do |a| %>

    <% field_set_tag do %>
      <p>
        <%= a.label :street %>
        <%= a.text_field :street %>
      </p>
      <p>
        <%= a.label :postal %>
        <%= a.text_field :postal %>
      </p>
      <p>
        <%= a.label :city %>
        <%= a.text_field :city %>
      </p>
      <p>
        <%= a.label :country %>
        <%= a.text_field :country %>
      </p>
    <% end %>
  <% end %>

  <% field_set_tag do %>
    <p>
      <%= f.label :shipping_rate %>
      <%= f.text_field :shipping_rate, :size => 5 %>
    </p>
    <p>
      <%= f.label :comment %>
      <%= f.text_area :comment, :rows => 5%>
    </p>
  <% end %>

  <% fields_for :order_items, nil do |a| %>
    <p>Select Order Items
      <ul>
        <% for oi in @order.items.select { |s| s.shipment == nil } %>
          <li>  <%= a.check_box "#{oi.id}", {} , 1, 0 %> <%= a.label oi.id, oi.product.name %> (<%=h oi.product.class %>)
            | <%- unless oi.properties.empty? -%><b>Configuration:</b> <%=h oi.properties.collect(&:name) * "," %><%- end -%>
          | <%=h oi.quantity %> | <%=h oi.quantity * oi.price %></li>
        <% end %>
      </ul>		
    </p>
  <% end %>



  <%= submit_tag "save" %>
<% end %>
