<% credit_card = credit_card_payment_confirmation.credit_card %>

<% f.fields_for :set_credit_card, credit_card do |cc| %>

  <h4>CreditCard:</h4>
  <b>Brand:</b> <%= credit_card.type %><br />
  <b>Number:</b> <%= credit_card.number %><br />
  <b>Year:</b> <%= credit_card.year %> <b>Month:</b> <%= credit_card.month %><br />
  <b>Firstname:</b> <%= credit_card.first_name %> <b>Lastname:</b> <%= credit_card.last_name %><br />
  <br />

  <%= cc.hidden_field :type %>
  <%= cc.hidden_field :number %>
  <%= cc.hidden_field :verification_value %>
  <%= cc.hidden_field :year %>
  <%= cc.hidden_field :month %>
  <%= cc.hidden_field :first_name %>
  <%= cc.hidden_field :last_name %>
      
<% end %>