<% fields_for :payment_fields, credit_card_payment do |ccp| %>
  <h2>CreditCard</h2>
  <% ccp.fields_for :set_credit_card, credit_card_payment.credit_card  do |cc| %>
    <%= error_messages_for :set_credit_card, :object => credit_card_payment.credit_card %>
    <% field_set_tag do %>
      <p>
        <%= cc.label :type %>
        <%= cc.select :type, [ [""], ["visa"], ["bogus"] ] %>
      </p>
      <p>
        <%= cc.label :number  %>
        <%= cc.text_field :number %>
      </p>
      <p>
        <%= cc.label :verification_value  %>
        <%= cc.text_field :verification_value, :size => 3 %>
      </p>
      <p>
        <%= cc.label :year  %>
        <%= cc.text_field :year %>  
      </p>
      <p>
        <%= cc.label :month  %>
        <%= cc.text_field :month %>
      </p>
      <p>
        <%= cc.label :first_name %>
        <%= cc.text_field :first_name %>
      </p>
      <p>
        <%= cc.label :last_name %>
        <%= cc.text_field :last_name %>
      </p>
    <% end %>
  <% end %>

<% end %>