<table class="editor-form" cellspacing="0" cellpadding="0">
	<tr>
		<td class="label"><%= f.label :price %></td>
		<td><%= f.text_field :price, :class => "inputFields"  %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :storage %></td>
		<td><%= f.text_field :storage, :class => "inputFields" %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :active %></td>
		<td><%= f.select :active, [true, false], {}, :class => 'bool' %> <%= javascript_tag("transform2ComboBox('inventory_active', { width: 50 });" ) %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :back_ordered %></td>
		<td><%= f.select :back_ordered, [true, false], {}, :class => 'bool' %><%= javascript_tag("transform2ComboBox('inventory_back_ordered', { width: 50 });" ) %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :description %></td>
		<td><%= f.text_area :description, :rows => 8, :cols => 25 %></td>
	</tr>
</table>
