<% content_for( :headline ) do %>
  <%= image_tag('content-header/headline_icon.jpg', 'alt' => '', :id => "categories_icon") %>Edit Inventory for <%=h @inventory.product.class %> '<%=h @inventory.product.name %>'
  <%= draggable_element :categories_icon, :revert => true %>
<% end %>

<% content_for( :content_header_buttons ) do %>
  <%= link_to "<span>#{image_tag('content-header/icon_sun.gif')} Add to quicksteam</span>", '#' %>
  <%= link_to "<span>#{image_tag('content-header/icon_print.gif')} Print page</span>", '#' %>
<% end %>


<h2>Configuration: <%=h @inventory.properties.collect(&:name) * "," %></h2>


<%= error_messages_for :inventory %>

<% form_for :inventory, @inventory, :url => { :controller => "inventories", :action => :update }, :html => { :method => "put" } do |f| %>

  <%= render :partial => "admin/catalog/inventories/attributes", :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_catalog_inventory_path( @inventory )%> |
<%= link_to 'Back', [:admin, :catalog, @inventory.product ] %> |
