<h1>Checkout - New Order</h1>

<div id="checkout_order">
  <%- if logged_in? %>
    <%= render :partial => "new_checkout" %>
  <%- else -%>
    <div id="register_account" style="float:left">
      <h2>Register New Account, or ..</h2>
      <% @customer.password = @customer.password_confirmation = nil %>
      <% @user = @customer %>
      <%= render :partial => "accounts/signup_fields" %>
    </div>
    <div id="login_account" style="margin-left: 80px ;float:left;">
      <h2>Login</h2>
      <% form_tag session_path do -%>
        <p><%= label_tag 'login' %><br />
        <%= text_field_tag 'login', @login %></p>

        <p><%= label_tag 'password' %><br/>
        <%= password_field_tag 'password', nil %></p>

        <p><%= submit_tag 'Log in' %></p>
      <% end -%>
    </div>

  <%- end -%>

</div>

<%= observe_form :order,
  :url => { :action => :shipping_types }
%>

<%= observe_field :same_as_shipping,
  :function => "copy_address($('same_as_shipping').checked ); return false ; "
%>


<script>
  function copy_address( copy ) {
    var fields = [ 'firstname', 'lastname', 'country', 'city', 'street', 'postal' ] ;
    if( copy ) {
      fields.each( function(item) {
        $('order_payment_address_' + item ).value = $('order_shipping_address_' + item).value ;
      }) ;
    }else{
      fields.each( function(item) {
        $('order_payment_address_' + item ).value =  "" ;
      }) ;
    }
  }

</script>
