<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name.humanize %> - <%= controller.action_name.humanize %></title>

    <%= render :partial => "admin/javascripts" %>
    <%= render :partial => "admin/stylesheets" %>
		<%= render :partial => "admin/flashboxjs"  %>

		<%= yield(:head) || "" %>


  </head>
  <body>
    <!-- header -->
    <%= render :partial => "admin/_header/header" %>

    <%= render 'admin/_nav/nav' %>

    <div id="content-wrapper">
      <div id="content_headline">
        <h1><%= yield(:headline) || "" %></h1>
      </div>
      <div id="content-header-buttons">
        <%= yield(:content_header_buttons) || "" %>
      </div>

      <%= yield %>

      <div id="content-footer">
        <div id="content-footer-left">&copy; 2008, <a href="http://www.opensteam.net">opensteam.net</a> | v<%= Opensteam::VERSION::STRING %> | <a href="#">Imprint</a> | <a href="#">Legal Notice</a> | <a href="#">Credits</a></div>
        <div id="content-footer-right">site stats: Debug Info (not visible to the public) | Active: root - Rendertime: 0.66s</div>
      </div>
    </div>



		

    <!-- footer -->
    <%= render :partial => 'admin/_footer/footer' %>

  </body>
</html>
