<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name.humanize %> - <%= controller.action_name.humanize %></title>

    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'opensteam_white' %>

  </head>
  <body>
    <div class="dvBody">
      <%= render :partial => "common/header" %>

      <div class="dvMain">
        <div class="dvLeft">
          <div class="dvBox">
            <div class="dvBoxTop">
              <h3><%= image_tag("frontend/offer_5.png")%> Offer!</h3>
            </div>
            <div class="dvBoxContent">
              ..........
            </div>
            <div class="dvBoxBottom">
              <a href="#">> More</a>
            </div>
          </div>

          <div class="dvBox">
            <div class="dvBoxTop">
              <h3><%= image_tag("frontend/question.png")%> Need Help ?</h3>
            </div>
            <div class="dvBoxContent">
              <ul>
                <li><a href="http://www.opensteam.net">www.opensteam.net</a></li>
                <li><a href="http://github.com/shm/opensteam">opensteam @ github</a></li>
              </ul>
            </div>
            <div class="dvBoxBottom">
            </div>
          </div>
        </div>

        <div class="dvContent">
          <%= yield %>
        </div>
        <div class="dvRight" id="mini_cart">
          <%= render :partial => "carts/mini_cart" unless controller.controller_name.match(/search/) %>
        </div>
        <br class="clear" />
      </div>
      <div class="dvFooter">
      </div>
    </div>
    <div  style="display:none;" id="indicator_center_big"><%= image_tag('indicator_big.gif') %></div>
  </body>

</html>
