<% render_headline 'categories_icon', 'Your QuickSteams', 'content-header/headline_icon.jpg' %>
<% render_header_buttons "New Quicksteam", :href => new_admin_system_quicksteam_path, :class => "add-button" %>

<div id="grid-wrapper">
  <div id="grid">
		<% grid_table_static do %>
			<thead>
				<th><div>#ID</div></th>
				<th><div>Name</div></th>
				<th><div>Path</div></th>
				<th><div>&nbsp;</div></th>
				<th><div>&nbsp;</div></th>
			</thead>
			<tbody>
				<% for qs in @quicksteams %>
					<tr>
						<td><%=h qs.id %></td>
						<td><%=h qs.name %></td>
						<td><%=h qs.path %></td>
						<td><%= link_to "edit", edit_admin_system_quicksteam_path( qs ) %></td>
						<td><%= link_to "delete", admin_system_quicksteam_path( qs ), :method => :delete, :confirm => "Are your sure?" %></td>
					</tr>
				<% end %>
			</tbody>
		<% end %>
  </div>
</div>