
<tr class="<%= cycle('odd','even') %>">
  <td class="first"></td>
  <td><%=h shipment.id %></td>
  <td><%=h shipment.order_items.size %></td>
  <td><%=h shipment.address.to_s %></td>
  <td><%=h shipment.state %></td>
  <td><%=h shipment.shipping_rate %></td>
  <td><%=h shipment.comment %></td>
  <td><%=h ordinalized_time shipment.created_at %></td>
  <td><%=h ordinalized_time shipment.updated_at %></td>
  <td><%= link_to "show", admin_sales_order_shipment_path( shipment.order, shipment ) %></td>
</tr>