<tr class="<%= cycle('odd','even') %>">
  <td />
  <td><%=h mailer.id %></td>
  <td><%=h mailer.mailer_class %></td>
  <td><%=h mailer.mailer_method %></td>
  <td>
    <% form_for :mailer, :url => admin_system_mailer_path( mailer ), :html => { :method => :put } do |f| %>
      <%= f.hidden_field :active, :value => mailer.active? ? 'false' : 'true' %>
      <%= image_submit_tag( mailer.active? ? "tick.png" : "cross.png" ) %>
    <% end %>
  </td>
  <td><%=h mailer.messages_sent %></td>
  <td><%=h ordinalized_time mailer.created_at %></td>
  <td><%=h ordinalized_time mailer.updated_at %></td>
  <td><%= link_to "show", admin_system_mailer_path( mailer ) %></td>
</tr>
