<%% render_headline 'categories_icon', 'Edit <%= class_name %>', 'content-header/headline_icon.jpg' %>

<%% render_header_buttons 'Save', :form_id => '<%= file_name %>_form' %>

<%%= error_messages_for :<%= file_name %> %>

<script>
    function toggleSubContent(id) {
        $$('.product_sub_content').each(function(item) {
            item.hide() ; 
        } ) ;
        $(id).show() ;
    }
</script>
<style>
  h2 {
    font-weight:bold;
    font-size:20px;
  }
</style>

<div style="float:left;border:1px solid black ;padding:10px;margin-right:10px;" class="product_sidebar">
  <ul>
    <li><%%= link_to_function "General Information", "toggleSubContent('product_attributes');" %></li>
    <li><%%= link_to_function "Properties", "toggleSubContent('product_properties');" %></li>
    <li><%%= link_to_function "Categories", "toggleSubContent('product_categories');" %></li>
    <li><%%= link_to_function "Inventories", "" %></li>
    <li><%%= link_to_function "Images", "toggleSubContent('product_categories');" %></li>
    <li><%%= link_to_function "Cross Sells", "toggleSubContent('product_categories');" %></li>
    
  </ul>
</div>

<div>
  <%% form_for :<%= file_name %>, @<%= file_name %>, :url => { :action => :update }, :html => { :id => "<%= file_name %>_form", :method => "put" } do |f| %>
    <div class="product_sub_content" id="product_attributes">
      <%%= render :partial => "admin/catalog/<%= table_name %>/attributes", :locals => { :button_name => "Update", :f => f }%>
    </div>    
  
    <div style="display:none;" class="product_sub_content" id="product_properties">
      <%%= render :partial => "admin/catalog/<%= table_name %>/properties", :locals => { :f => f } %>
    </div>
  
    <div style="display:none;" class="product_sub_content" id="product_categories">  
      <%%= render :partial => "admin/catalog/<%= table_name %>/categories", :locals => { :f => f } %>
    </div>
  
    <%%= submit_tag "UPDATE" %>
  <%%  end %>
</div>

