<%% render_headline 'categories_icon', 'Index <%= class_name %>', 'content-header/headline_icon.jpg' %>
<%% render_header_buttons 'Add <%= class_name %>', :href => new_admin_catalog_<%= file_name %>_path %>

<div id="grid-wrapper">
  <div id="grid">
    <%% grid_table_static do %>
      <thead>
        <tr>
          <th class="first"><div>&nbsp;</div></th>
        <%- for attribute in attributes -%>
          <th><div><%= attribute.column.human_name %></div></th>
        <%- end -%>
          <th><div>Inventories</div></th>
          <th>&nbsp;</th>
          <th class="last">&nbsp;</th>
        </tr>
      </thead>
    <tbody>
      <%% for <%= file_name %> in @<%= table_name %> %>
        <tr>
          <td class="first"></td>
        <%- for attribute in attributes -%>
        <%- if attribute.type.to_s == "references" -%>
          <td><%% if <%= file_name %>.<%= attribute.name %> -%>
            <%%=h <%= file_name %>.<%= attribute.name %>.name %>
            <%% else -%>-<%% end -%>
          </td>
        <%- else -%>
          <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
        <%- end -%>
        <%- end -%>
          <td><%%= <%= file_name %>.inventories.size %></td>
          <td><%%= link_to 'Edit', [:edit, :admin, :catalog, <%= file_name %>] %></td>
          <td class="last"><%%= link_to 'Destroy', [:admin, :catalog, <%= file_name %>], :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <%% end %>
    </tbody>
   <%% end %>
  </div>
</div>
<br />