<%% render_headline 'categories_icon', 'New <%= class_name %>', 'content-header/headline_icon.jpg' %>

<%% render_header_buttons 'Save', :form_id => '<%= file_name %>_form' %>


<h1>New <%= class_name %></h1>

<%%= error_messages_for :<%= file_name %> %>


<div id="category-tree" style="padding:20px; width: 200px ;"></div>

<%%= render :partial => "/admin/_tree/tree", :locals => {
  :model => "category", 
  :render_to => "category-tree", 
  :url => '/admin/catalog/categories/',
  :checkable => true,
  :expand_all => true } %>

<script>
    Ext.onReady(function(){
        tree.on('checkchange', function(e,b) { alert( e + " + " + b ) ; } ) ;
    }) ;
</script>


<%% form_for :<%= file_name %>, @<%= file_name %>, :url => { :action => :create }, :html => { :id => '<%= file_name %>_form', :method => "post" } do |f| %>
  <%%= render :partial => "admin/catalog/<%= table_name %>/attributes", :locals => { :button_name => "Create", :f => f }%>
  <%%= submit_tag "SAVE" %>
<%% end %>



<%%= link_to 'Back', admin_catalog_<%= table_name %>_path %>
