<div style="text-align:right;">
  <%- if flash[:error] -%><%= image_tag('flashbox/error.png') %><%- end -%>
  <%- if flash[:info] -%><%= image_tag('flashbox/info.png') %><%- end -%>
  <%- if flash[:warning] -%><%= image_tag('flashbox/warning.png') %><%- end -%>
</div>
<div style="padding-top:20px;text-align:left;">
  <%- if flash[:error] -%><%= flash[:error] %><%- end -%>
  <%- if flash[:info] -%><%= flash[:info] %><%- end -%>
  <%- if flash[:warning] -%><%= flash[:warning] %><%- end -%>
</div>
