<div id="nav-bar">
  <div id="nav">
    <div class="dvNaviItem">
      <div class="dvNaviItem_right"></div>      
      <div class="clearer"></div>      
    </div>
		<%= admin_nav_item Admin::CatalogController %>
		<%= admin_nav_item Admin::SalesController %>
		<%= admin_nav_item Admin::ConfigController %>
		<%= admin_nav_item Admin::SystemController %>
<div class="dvNaviItem_combined_right">
      <div class="dvNaviItem_left"></div>      
      <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
  </div>	
  <div id="search">
    <form action="#" method="post">
      <input type="text" name="search_string" id="search-string" value="Global Record Search" onclick="this.value='';" />
      <input type="image" name="search_submit" id="search-submit" src="/images/header/search_icon.gif" />			
    </form>
  </div>
  <div id="subnav">
	<%= render_breadcrumbs %>
   
  </div>		
  <a href="#" id="help-link">Get help for this page</a>
</div>

<!-- sub menu items -->
<%= render "admin/_nav/catalog" %>    
<%= render "admin/_nav/sales" %>
<%= render "admin/_nav/order_config" %>
<%= render "admin/_nav/system" %>  