<% render_headline 'categories_icon', 'User Roles Index', 'content-header/headline_icon.jpg' %>
<% render_header_buttons "Add Role", :href => new_admin_system_user_role_path %>


<div id="grid-wrapper">
  <div id="grid">
    <% grid_table do %>
      <thead>
        <tr>
          <th class="first no-menu no-sort not-in-context no-resize"><div>&nbsp;</div></th>
          <th><div>ID#</div></th>
          <th><div>Name</div></th>
          <th><div>Users</div></th>
          <th class="not-in-context no-menu"><div>&nbsp;</div></th>
          <th class="last not-in-context no-menu"><div>&nbsp;</div></th>
        </tr>
      </thead>
      <tbody id="orders_table_body">
        <% for user_role in @user_roles %>
          <tr>
            <td></td>
            <td><%= user_role.id %></td>
            <td><%= user_role.name %></td>
            <td><%= user_role.users.size %></td>
            <td><%= link_to "show", admin_system_user_role_path( user_role ) %> </td>
            <td><%= link_to "delete", admin_system_user_role_path( user_role ), :method => 'delete', :confirm => "Are you sure?" %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </div>
</div>
