<%% render_headline 'categories_icon', 'Index <%= class_name %>', 'content-header/headline_icon.jpg' %>
<%% render_header_buttons 'Add <%= class_name %>', :href => new_admin_catalog_<%= file_name %>_path %>

<div id="grid">
  <%% grid_table_static do %>
    <thead>
      <tr>
        <%- for attribute in attributes -%>
        <th><div><%= attribute.column.human_name %></div></th>
        <%- end -%>
        <th><div>Actions</div></th>
      </tr>
    </thead>
    <tbody>
      <%% for <%= singular_name %> in @<%= plural_name %> %>
      <tr>
        <% for attribute in attributes -%>
        <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
        <% end -%>
        <td><%%= link_to 'Edit', edit_admin_catalog_<%= singular_name %>_path(<%= singular_name %>) %> |
        <%%= link_to 'Destroy', [:admin, :catalog, <%= singular_name %>], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
      <%% end %>
    </tbody>
  <%% end %>
</div>
