<h2>Tax Zone #<%= @tax_zone.id %></h2>

<%= header_with_links("Show",
  link_to("Edit", edit_admin_config_tax_zone_path( @tax_zone ) ),
  link_to("Delete", admin_config_tax_zone_path( @tax_one), :method => :delete, :confirm => "Are your sure?" )) %>

<p>
  <b>Country:</b> <%= @tax_zone.country %>
</p>
<p>
  <b>State</b> <%= @tax_zone.state %>
</p>
<p>
  <b>Rate</b> <%= @tax_zone.rate %>
</p>

